#-------------------------
# Environment Files
#-------------------------
.env

#-------------------------
# Temporary Files
#-------------------------
writable/

#-------------------------
# IDE / Development Files
#-------------------------
.vscode/

#-------------------------
# CodeIgniter Framework
#-------------------------
system/
spark
